/* Offline, self-designed project as part of Codecademy's Frontend coursework 
      Code structure & organization inspired by the "Fotomatic" project from Codecademy 
    
      The aim of this project is to design a website's landing page for a fake organization in
      order to act as a skill-builder. */

/* Universal Styles */

  html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  body{
    margin: 0;
  }
  
  .main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
  }
  
  .center {
    text-align: center;
  }
  
  .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
  }

  #fullPage {
    /* display: none; */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
  }
  
  #fullPage img {
    width: 100%;
  }
  
  @media only screen and (max-width: 760px) {
    /* .main-content {
      top: 2.5625rem;
    } */
  }
  
  /* Header */
  
  header {
    position: absolute;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: rgb(99, 99, 99);
  }
  
  header .content {
    display: flex;
    align-items: center;
    height: 85px;
  }
  
  header .logo {
    flex: 1;
    text-decoration: none;
    color: #5e0000;
    font-size: 2.5em;
    font-weight: 400;
    font-family: "Young Serif";
    padding-left: 0.25em;
  }
  
  header .guild_logo {
    max-width: 5.5em;
  }

  header nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    padding-left: 3.5rem;
  }
  
  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
  }
  
  header .icon {
    width: 1rem;
    padding-left: .75rem;
  }
  
  header .mobile {
    display: none;
  }
  
  header .tablet {
    display: none;
  }
  
  @media only screen and (max-width: 760px) {
    header .desktop {
      display: none;
    }
  
    header .tablet {
      display: block;
      width: 100%;
    }
  
    header .mobile {
      display: none;
    }
    
    header .content {
      padding: auto;
    }
  
    header .tablet ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
  
    header .tablet li {
      padding: 0;
    }
  
    header nav ul {
      padding: 1rem;
    }
  
    header .tablet .button {
      padding: .1875rem .5rem;
      background-color: #9dc20b;
      line-height: 1.6;
      color: white;
    }
  }
  
  @media only screen and (max-width: 480px) {
    header .desktop {
      display: none;
    }
  
    header .tablet {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
    }
  
    header .content {
      padding: .5rem 0;
    }
  
    header .mobile ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    header .mobile li {
      padding: 0;
    }
  
    header .mobile .button {
      padding: .1875rem .5rem;
      background-color: #9dc20b;
      line-height: 1.6;
      color: white;
    }
  }

  /* Intro Section */
  #intro-section{
    display: flex;
    justify-content: flex-start;
  }

  #intro-image{
    width: 100%;
  }

  #intro-image img{
    width: 100%;
  }

  #intro-blurb{
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-family: "Palatino", serif;
    font-size: 2em;
    line-height: 1em;
    padding-left: 2rem;
    padding-right: 2rem;
    font-style: italic;
    color: #fc1b1b;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    background-image: url("./images/Sarkareth_AotC.png");
    background-size: cover;
  }

  #intro-blurb .text-box{
    /* background-color: white; */
    opacity: 80%;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  /* Sign Up Section */
  
  #sign-up-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 43.5rem; */
    /* padding-top: 170px;
    padding-bottom: 170px; */
    margin: 2rem auto;
    background-image: url("../images/banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #sign-up-cta {
    padding: 0 5rem 0rem 5rem;
    width: 70%;
    border: solid 1px #979797;
    border-radius: 4px;
    background-color: #1d7d8a;
  }
  
  #sign-up-cta .content {
    margin-top: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }
  
  #sign-up-cta .cursive {
    font-family: "Damion", cursive;
  }
  
  #sign-up-cta .striking {
    font-family: "Rubik", sans-serif;
    padding-bottom: .75rem;
    line-height: 1.4;
  }
  
  #sign-up-cta .button {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    padding: 1.25rem 5rem;
  }
  
  @media only screen and (max-width: 760px) {
    #sign-up-section {
      align-items: center;
      justify-content: center;
      height: 28rem;
    }
  
    #sign-up-section .banner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: 43.5rem;
      /* padding-top: 170px;
      padding-bottom: 170px; */
      background-image: url("../images/banner-landingpage.jpg");
      background-repeat: no-repeat;
    }
  
    #sign-up-cta {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
      margin: 0;
    }
  
    #sign-up-cta .content {
      margin-top: 0;
    }
  
    #sign-up-cta .email {
      display: none;
    }
  
    #sign-up-cta h1 {
      font-size: 3.125rem;
    }
  
    #sign-up-cta h2 {
      font-size: 2.25rem;
    }
  }
  
  @media only screen and (max-width: 450px) {
    #sign-up-section {
      height: 20rem;
    }
  
    #sign-up-cta h1 {
      font-size: 2.25rem;
    }
  
    #sign-up-cta h2 {
      font-size: 2rem;
    }
  }
  
  /* Victory Section */
  #victory-section {
    padding: 2em 0 0 0;
    background-color: #4a4a4a;
    /* display: flex;
    justify-content: center; */
  }

  .aotc-columns {
    width: 50%;
    float: left;
  }

  .aotc-columns figure {
    max-width: 90%;
    margin: 1em auto;
  }

  .aotc-columns figcaption {
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    color: #26b3c5;
  }

  .aotc-columns img {
    max-width: 90%;
    margin: 1em auto;
  }

  .aotc-bottom-column {
    width: 50%;
    display: inline-block;
    align-items: center;
  }

  .aotc-bottom-column figcaption {
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    color: #26b3c5;
  }

  .aotc-bottom-column img {
    max-width: 90%;
    margin: 1em auto;
  }

  #victory-section .content h2 {
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    color: rgb(105, 231, 105);
    margin: 0 auto .5em auto;
  }
  /* #features-section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
    background-color: #f3f3f3;
    padding-bottom: 2.875rem;
  } */
  
  /* Rules Section */
  
  #rules-section {
    padding: 2em 0;
    background-color: #4a4a4a;
    /* display: flex;
    justify-content: center; */
  }

  #general-rules {
    color: rgb(0, 162, 211);
  }

  #raid-rules {
    color: rgb(231, 105, 105);
  }
  
  #rules-section .content {
    padding: 0 .625em;
    margin-bottom: 2em;
    /* flex-basis: 100%; */
  }
  
  #rules-section .content h2 {
    font-size: 2.75em;
    font-weight: bold;
    color: white;
    margin: 0 auto;
  }
  
  #rules-section .content h3 {
    font-size: 1.5em;
    line-height: 1.4;
    font-weight: 500;
    font-style: italic;
    margin-top: .3em;
  }

  #rules-section li{
    text-align: left;
    color: white;
    margin-bottom: .4em;
  }
  
  .slider-container {
    display: inline-block;
    height: auto;
  }
  
  .image-container {
    /* width: 25%; */
    width: 33.3332%;
    float: left;
    /* height: 100%; */
    /* position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s; */
  }

  /* .image-container img{
    width: 100%;
    height: 100%;
  } */

  .slider-image {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .button-container {
    top: -20px;
    position: relative;
  }

  .slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
  }

  #slider-image-1:target ~ .image-container{
    left: 0px;
  }

  #slider-image-2:target ~ .image-container{
    left: -862px;
  }

  #slider-image-3:target ~ .image-container{
    left: -1724px;
  }

  #slider-image-4:target ~ .image-container{
    left: -2586px;
  }

  @media only screen and (max-width: 760px) {
    #samples-section {
      padding: 1.5rem 0 0 0;
    }
  
    #samples-section .content {
      margin-bottom: 1rem;
    }
  
    #samples-section .content h2 {
      padding-bottom: .625rem;
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
    }
  
    #samples-section .content h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  
    #samples-section .slider-container {
      padding: 0;
    }
  
  
  }
  
  @media only screen and (max-width: 480px) {
    #rules-section .extra {
      display: none;
    }
  }
  
  /* Footer */
  
  footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
  }
  
  footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
  }
  
  footer .copyright {
    flex-grow: 1;
  }
  
  @media only screen and (min-width: 760px) {
    footer .content {
      font-size: .625rem;
    }
  }